GS2210# show running-config 
  Building configuration...

  Current configuration: 

clv 
vlan 1 
  name 1 
  ip address default-management 192.168.1.2 255.255.255.0 
  ip address default-gateway 192.168.1.1 
exit 
vlan 3 
  ip address 192.168.3.2 255.255.255.0 
  ip address default-gateway 192.168.3.1 
exit 
vlan 4 
  ip address 192.168.4.2 255.255.255.0 
  ip address default-gateway 192.168.4.1 
exit 
vlan 200 
  name vlan200 
  inactive 
  ip address 192.168.2.2 255.255.255.248 
  ip address default-gateway 192.168.2.1 
exit 
interface vlan 1 
exit 
interface vlan 200 
exit 
interface port-channel 1  
  speed-duplex 1000-full 
  switchport hybrid allowed vlan 1 untagged 
  switchport forbidden vlan add 3 
exit 
interface port-channel 2  
  speed-duplex 1000-full 
  switchport hybrid allowed vlan 1 untagged 
  switchport forbidden vlan add 3 
exit 
interface port-channel 3  
  speed-duplex 1000-full 
  switchport hybrid allowed vlan 1 untagged 
  switchport forbidden vlan add 3 
exit 
interface port-channel 4  
  speed-duplex 1000-full 
  switchport hybrid allowed vlan 1 untagged 
  switchport forbidden vlan add 3 
exit 
interface port-channel 5  
  switchport hybrid allowed vlan 1 untagged 
  switchport forbidden vlan add 3 
exit 
interface port-channel 6  
  switchport hybrid allowed vlan 1 untagged 
  switchport forbidden vlan add 3 
exit 
interface port-channel 7  
  speed-duplex 1000-full 
  switchport mode access 
  switchport access vlan 3 
exit 
interface port-channel 8  
  speed-duplex 1000-full 
  switchport mode access 
  switchport access vlan 4 
exit 
interface port-channel 9  
  speed-duplex 1000-full 
  dhcp snooping trust 
  switchport mode trunk 
exit 
interface port-channel 10  
  speed-duplex 1000-full 
  dhcp snooping trust 
  switchport hybrid allowed vlan 1 untagged 
  switchport forbidden vlan add 3 
exit 
ip name-server 192.168.1.1 
remote-management 1 start-addr 192.168.1.1 end-addr 192.168.1.255 service telnet ftp http icmp snmp ssh https  
dhcp snooping vlan 200  
arp inspection vlan 200 
arp inspection 
GS2210#
